.particles-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Altura da viewport para cobrir toda a tela */
  pointer-events: none; /* Permite interações com elementos sob o canvas */
  z-index: -1; /* Fica atrás de outros elementos */
}